2D-platformer/Assets/Editor Default Resources/
2D-platformer/Assets/ExternalDependencyManager/
2D-platformer/Assets/Plugins/
IllustratorFiles
ConceptImages
GameAudio
SpriteImageAssets
TraceImages
SpineFiles